#stats {
	background-color: rgba(255, 255, 255, .6);
	border-radius: 3px;
}

#quest {
	width: 350px;
	margin: auto;
	margin-top: 70px;
}

#quest h1 {
	text-align: left;
	font-family: 'Patua One',cursive;
	font-size: 35px;
	margin: 0px;
	clear: both;
	margin: 40px 0px 0px 5px;
	height: 35px;
	line-height: 35px;
}


#break-time, #boss-time {
	clear: both;
	width: 325px;
	height: 25px;
	margin-top: 10px;
	text-align: right;
	margin-right: 25px;
	line-height: 25px;
	font-family: 'Patua One',cursive;
	font-size: 20px;
	margin-bottom: 40px;
}

#quest button[type="button"] {
	width: 350px;
	height: 55px;
	border: 0px;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 50px;
	color: #000000;
	border-bottom: solid 4px #aaaaaa;
	margin-top: 40px;
}

#quest input[type="tel"] {
	width: 30px;
	height: 25px;
	border: 0px;
	border-right: solid 4px #cccccc;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #222222;

}
#quest input[type="tel"]:focus, #quest input[type="tel"].focus {
	outline: none;
	border-right: solid 4px #aaaaaa;
	transition: border 0.3s;
	-moz-transition: border 0.3s;
	-webkit-transition: border 0.3s;
	-o-transition: border 0.3s;
}


.badtime {
    width: 300px;
    height: 60px;
    background: #eeeeee;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 200px;
    z-index: 4;
    padding: 25px;
    text-align: justify;
    border: solid 2px #ffffff;
}

.badtime .closes {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 5px 0px 0px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-family: 'Patua One',serif;
  font-size: 25px;
}

.badtime h1 {
  font-family: 'Patua One',cursive;
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0px;
  text-align: center;
  letter-spacing: -1px;
  line-height: 20px;
}

.badtime p {
	margin-top: 15px;
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
}
